
@{
    ViewData["Title"] = "About";
}

<h1>About - CWK</h1>

<p>
    the "@@{ <br/> <br/>

    }"<br/>
    syntax allows you to add C# code directly to an HTML file. We can set data about the view with the ViewData Variable. ViewData["Title"] = "About" sets the tabs name to About - HelloCWK because of line 6 in _Layout.cshtml.
</p>