@{
ViewData["Title"] = "My Hero";
}
<div class="text-center wrapper">
<h1 class="display-4"> Technology and Heroism!</h1>
<p> My Twin Brother</p>
<img src="/images/James.jpg" width="400" height="auto" />
</div>