@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center wrapper">
<h1 class="display-4">Welcome Visitor!</h1>
<p> This is a simple example ASP.NET core website!</p>
<img src="/images/jade.png" width="200" height="auto" />
</div>