/* Instead of mak+ing a global class this changes only nav html elements that have class bg-color, so if I had a div with the bg-color class it would be a different color*/

nav.bg-color {
    background-color: #b24040
}

div.bg-color {
    background-color: #ffffff
}


/* Contact us styling */
.wrapper {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    background: #2da8ff45;
    
}

form {
    margin: 30px auto;
}

.btn {
    width: 30%;
    border: none;
    margin-top: 5px;
    color: white;
    background-color: #3b5998;
    border-radius: 5px;
    padding: 12px;
}

.form-control {
    width: 50%;
    margin: 0 auto;
}

.pcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    color: red;
}

.valid {
    color: green;
}